In [111]:
from azure.identity import ClientSecretCredential
from azure.identity import DefaultAzureCredential
from msgraph import GraphServiceClient
from msgraph.generated.users.item.user_item_request_builder import UserItemRequestBuilder
from kiota_abstractions.base_request_configuration import RequestConfiguration
import pandas as pd

credential = DefaultAzureCredential()
client = GraphServiceClient(credential)

scopes = ['https://graph.microsoft.com/.default']
graph_client = GraphServiceClient(credential, scopes)

In [116]:
# Get all Entra ID users
query_params = UserItemRequestBuilder.UserItemRequestBuilderGetQueryParameters(
    select=['userPrincipalName','displayName','givenName','surname','jobTitle','department','usageLocation','accountEnabled','state','country','createdDateTime']
)

config = RequestConfiguration(
    query_parameters=query_params
)

users = await graph_client.users.get(config)

In [117]:
# Filter out none values from users
users.value[0].user_principal_name

user_list = []
for user in users.value:
    x = {
        'userPrincipalName': user.user_principal_name,
        'displayName': user.display_name,
        'givenName': user.given_name,
        'surname': user.surname,
        'jobTitle': user.job_title,
        'department': user.department,
        'usageLocation': user.usage_location,
        'accountEnabled': user.account_enabled,
        'state': user.state,
        'country': user.country,
        'createdDateTime': user.created_date_time
    }
    user_list.append(x)

In [118]:
# Create a data frame from the users list
pd.DataFrame(user_list)

,userPrincipalName,displayName,givenName,surname,jobTitle,department,usageLocation,accountEnabled,state,country,createdDateTime
0,amelie@kuhnojkagmail.onmicrosoft.com,Amélie Dupont,Amélie,Dupont,Marketing Coordinator (EXTERNAL),Digital Marketing,FR,True,Paris,FR,2024-09-20 18:53:03+00:00
1,bill@kuhnojkagmail.onmicrosoft.com,Bill Hader,Bill,Hader,Senior Consultant (EXTERNAL),None,US,True,New York,USA,2024-09-13 18:45:55+00:00
2,emilia@kuhnojkagmail.onmicrosoft.com,Emilia Hartikainen,Emilia,Hartikainen,Senior Data Analyst,Business Intelligence,FI,True,Helsinki,FI,2024-09-20 18:53:03+00:00
3,joel@kuhnojkagmail.onmicrosoft.com,Joel Kataja,None,None,None,None,FI,True,None,FI,2024-09-12 20:17:21+00:00
4,kuhnojka_gmail.com#EXT#@kuhnojkagmail.onmicros...,Jani Kuhno,Jani,Kuhno,None,None,FI,True,None,None,2024-09-12 19:37:04+00:00
5,lauri@kuhnojkagmail.onmicrosoft.com,Lauri Virtanen,Lauri,Virtanen,IT Support Specialist,Information Technology,FI,True,Espoo,FI,2024-09-20 18:53:03+00:00